{:id       :isaac.providers.kombucha
 :version  "0.1.0"
 :requires []
 :extends  {:provider {:kombucha {:api      "openai-completions"
                                  :base-url "https://api.kombucha.test/v1"
                                  :auth     "api-key"
                                  :models   ["kombucha-large" "kombucha-small"]}}}}
