{:paths ["src" "resources"]

 :deps  {io.github.slagyr/isaac {:local/root "../.."}}

 :aliases
 {:test {:extra-paths ["spec"]
         :extra-deps  {speclj/speclj {:mvn/version "3.13.0"}}}

  :spec {:extra-paths ["spec"]
         :extra-deps  {speclj/speclj {:mvn/version "3.13.0"}}
         :main-opts   ["-m" "speclj.main" "-c" "-D" "spec"]}}}
