*.class
*.db
*.iml
*.jar
.beads-credential-key
.claude
.clj-kondo
.cpcache/
.dolt/
.DS_Store
.env
.hg/
.hgignore
.isaac-home
.java-version
.lsp/
.opencode/
.specljs-timestamp
.toolbox/
/.idea
/.lein-*
/.nrepl-port
/bin
/blog
/checkouts
/classes
/target
/tmp
node_modules/
package-lock.json
pom.xml
pom.xml.asc
profiles.clj
