{:paths ["src" "spec"]

 :deps {io.github.slagyr/speclj  {:git/tag "3.12.2" :git/sha "432738d"}
        io.github.slagyr/gherclj {:git/tag "v0.1.0" :git/sha "23c7a62"}}

 :tasks
 {features {:doc      "Run gherclj feature specs"
            :requires ([gherclj.main :as main])
            :task     (main/-main "-t" "speclj")}}}
