{:id       :isaac.slash.echo
 :version  "0.1.0"
 :requires []
 :extends  {:slash-command {:echo {:isaac/factory isaac.slash.echo/handle-echo
                                   :description    "Echo the input back unchanged"
                                   :command-name   {:type :string :default "echo"}}}}}
