{:id            :isaac.slash.echo
 :version       "0.1.0"
 :slash-command {:echo {:factory     isaac.slash.echo/handle-echo
                        :description "Echo the input back unchanged"
                        :schema      {:command-name {:type :string :default "echo"}}}}}
