{:id             :isaac.slash.echo
 :version        "0.1.0"
 :slash-commands {:echo {:factory isaac.slash.echo/echo-command
                         :schema  {:command-name {:type :string :default "echo"}}}}}
