{:id             :isaac.core
 :version        "0.1.0"
 :factory        isaac.core/create-module

 :berths         {:cli {:description "CLI commands installed into the top-level isaac command registry."
                        :manifest    {:schema {:type :seq
                                               :spec {:type    :map
                                                      :factory isaac.cli/register-cli-command!
                                                      :schema  {:name        {:type :string :validations [:present?]}
                                                                :desc        {:type :string}
                                                                :usage       {:type :string}
                                                                :option-spec {:type :any}
                                                                :run-fn      {:type :symbol}
                                                                :help-text   {:type :symbol}
                                                                :subcommands {:type :symbol}}}}}}}

 :cli            [{:name      "init"
                   :usage     "init"
                   :desc      "Scaffold a default Isaac config"
                   :run-fn    isaac.cli/init-run-fn
                   :help-text isaac.cli/init-help}]}