{:id      :isaac.comm.telly
 :version "0.1.0"
 :entry   isaac.comm.telly
 :extends {:comm {:telly {:loft  {:type :string}
                           :color {:type :string}
                           :mood  {:type :string}}}}}
