{:id      :isaac.comm.telly
 :version "0.1.0"
 :comm    {:telly {:factory isaac.comm.telly/make
                   :schema  {:loft  {:type :string}
                             :color {:type :string}
                             :mood  {:type :string}}}}}
